* {
  box-sizing: border-box;
}
body {
  
  height: 100vh;
  margin: 0;
  background-color: rgb(184, 184, 184);
}

.main {
  display: flex;
  flex-direction: row;
  
}

.grid-wrapper {

  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
  height: 100vh;
  background-color: #d5d5d5;
  padding: 100px 20px;
  margin: 0 40px 0 40px;
  box-shadow: 20 0 20px 0 rgba(237, 237, 237, 0.2);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #005eff;
  border: 2px solid #013ea7;
  border-radius: 5px;
  height: 70vh;
  justify-content: center;
  padding: 30px 30px;
  width: 600px;
  box-shadow: -4px -4px 2px 0 #013288;
  flex-grow: 1;
}

.grid div {
  border: 7px solid #005eff;
  background-color: #d8d8d8; 
  box-shadow: inset -1px -6px 0 #0146bd;  
  border-radius: 50%;
  padding: 20px 20px;
  height: 16.67%;
  width: 14.28%;
} 


.right-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  background-color: #6200d3;
}

.player-one {
  background-color: yellow;
  border-radius: 10px;
}

.player-two {
  background-color: red;
  border-radius: 10px;
}

button {
  padding: 8px 20px;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  border-radius: 3px;
}

h3,
h2,
h1 {
  color: white;
}

h1 {
  font-size: 40px;
}

h4 {
  color: #fff;
  margin: 5px auto;
  font-size: 25px;
}

.right-sidebar {
  padding: 20px;
}

#current {
  display: flex;
  height: 100%;
  width: 50px;
  border-radius: 50%;
}

.score {
  background-color: #5401b3;
  padding: 10px 50px;
  margin-bottom: 70px;
  border-radius: 5px;
  
}

.result {
  display: flex;
  justify-content: center;
  font-size: 35px;
}


