* {
  box-sizing: border-box;
}

h3,
h2,
h1 {
  color: white;
}

h1 {
  font-size: 40px;
}

h4 {
  color: #fff;
  margin: 5px auto;
  font-size: 29px;
}

body {
  
  height: 100vh;
  margin: 0;
  background-color: #bfbfbf;
}

.main {
  display: flex;
  flex-direction: row;
}

.grid-wrapper {
  background-image: url('starwars.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
  height: 100vh;
  width: 70%;
  background-color: #d5d5d5;
  padding: 160px 50px;
  margin: 0;
  box-shadow: 20 0 20px 0 #ededed33;
  
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #393838; 
  border: 2px solid #393838;
  border-radius: 5px;
  height: 50vh;
  justify-content: center;
  padding: 30px 30px;
  width: 550px;
  box-shadow: -6px -6px 2px 0 #212121;
  flex-grow: 1;
}

.grid div {
  border: 7px solid #5c5c5c;
  background-color: #e8e6e6; 
  /* box-shadow: inset -1px -6px 0 #212121;   */
  border-radius: 50%;
  padding: 20px 20px;
  height: 16.67%;
  width: 14.28%;
} 


.right-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  background-color: #005eff;
  padding: 70px 30px 50px 30px;
  border-left: 5px solid yellow;
  /* background-image: url('blue-space.jpg'); */
}

.empty-cell {
  background-color: #e6e6e6;
  border-radius: 50%;
}

.animate__animated.animate__bounceInDown.player-one {
  --animate-duration: 1.8s;
  background-color: yellow;
  border-radius: 50%;
}


.animate__animated.animate__bounceInDown.player-two {
  --animate-duration: 1.8s;
  background-color: rgb(29, 15, 225);
  border-radius: 50%;
}

button {
  font-weight: bold;
  font-size: 15px;;
  padding: 8px 20px;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: 0.1em solid #d3d3d3;
  background-color: #d3d3d3;
  color: #373737;
  transition: all 0.2s;
}

button:hover {
  font-weight: bold;
  font-size: 15px;;
  padding: 8px 20px;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  background-color: #fcfcfc;
  border: 0.1em solid #919191;
  color: #373737;
}

#current {
  display: flex;
  height: 100%;
  width: 50px;
  border-radius: 50%;
}

.score {
  text-align: center;
  padding-top: 40px;
  background-color: #0050da;
  padding: 10px 50px;
  margin-bottom: 70px;
  border-radius: 5px;
  box-shadow: -4px -4px 2px 0 #003ba2;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 26px;
}

.next-player {
  text-align: center;
  background-color: #3e3e3e;
  border-radius: 3px;
  box-shadow: -4px -4px 2px 0 #242424;
  padding: 8px 12px;
}
