* {
  box-sizing: border-box;
}
body {
  
  height: 100vh;
  margin: 0;
  background-color: rgb(184, 184, 184);
}

.main {
  display: flex;
  flex-direction: row;
  
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 100vh;
  background-color: #d5d5d5;
  padding: 100px 20px;
  margin: 0 40px 0 40px;
  box-shadow: 20 0 20px 0 rgba(237, 237, 237, 0.2);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #005eff;
  border: 2px solid #013ea7;
  padding: 20px; 
  height: 70vh;
  justify-content: center;
  /* padding: 30px 30px; */
  width: 600px;
  box-shadow: -4px -4px 2px 0 #013288;
}

.grid div {
  border: 7px solid #005eff;
  background-color: #d8d8d8; 
  box-shadow: inset -1px -6px 0 #0146bd;  
  border-radius: 50%;
  flex-grow: 1;
  padding: 20px 20px;
  height: 16.67%;
  width: 14.28%;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background-color: rgb(98, 0, 211);
}


